* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("../../Assets/Images/camobackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    background: rgba(62, 74, 63, 0.9);
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    background: #6c7a6b;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    gap: 10px;
}

.logoimage {
    width: 50px;
    height: 50px;
    background-image: url("../../Assets/Images/ArmsDealerLogo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    font-weight: bold;
    font-size: 25px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links button {
    background: #556155;
    color: #303030;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.nav-links .active {
    color: darkred;
    text-decoration: underline;
}

.top-bar {
    background: #6c7a6b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    flex-wrap: wrap;

    button {
        background: #6c7a6b;
        color: #303030;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
    }
}

.top-bar select {
    font-size: 12px;
    background: #6c7a6b;
    color: #303030;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.top-bar .right {
    display: flex;
    gap: 30px;
}

.top-bar .right a {
    text-decoration: none;
    font-size: 13px;
    gap: 30px;
    color: #2b2b2b;
}

.top-bar .right .active {
    color: darkred;
    text-decoration: underline;
}